<footer class="footer lazy-section">
  <div class="container">
    <ul class="footer-nav">
      <li class="footer-item col-12 col-lg-3">
        <img src="../../assets/images/footer-logo.png" class="footer-logo">
      </li>
      <li class="footer-item col-12 col-md-6 col-lg-auto">
        <a class="footer-link" href="#">Solutions</a>
        <a class="footer-link" href="#">Web</a>
        <a class="footer-link" href="#">Mobile</a>
        <a class="footer-link" href="#">API</a>
        <a class="footer-link" href="#">Components/Omni Channel</a>
        <a class="footer-link" href="#">AI</a>
        <a class="footer-link" href="#">Infrastructure</a>
      </li>
      <li class="footer-item col-12 col-md-6 col-lg-auto">
        <a class="footer-link" href="#">Developers</a>
        <a class="footer-link" href="#">Documentation</a>
        <a class="footer-link" href="#">API references</a>
        <a class="footer-link" href="#">Feature Development</a>
      </li>
      <li class="footer-item col-12 col-md-6 col-lg-auto">
        <a class="footer-link" href="#">Company</a>
        <a class="footer-link" href="#">About</a>
        <a class="footer-link" href="#">Enterprise</a>
        <a class="footer-link" href="#">Partners</a>
        <a class="footer-link" href="#">Jobs</a>
        <a class="footer-link" href="#">Blogs</a>
        <a class="footer-link" href="#">Newsroom</a>
      </li>
      <li class="footer-item col-12 col-md-6 col-lg-auto">
        <a class="footer-link" href="#">Resources</a>
        <a class="footer-link" href="#">Support</a>
        <a class="footer-link" href="#">Contact</a>
        <a class="footer-link" href="#">Guides</a>
        <a class="footer-link" href="#">Sitemap</a>
      </li>
    </ul>

    <p class="footer-copyright">
      <span>All rights reserved.</span>
      <span>Terms and Conditions · Privacy Policy</span>
    </p>
  </div>
</footer>
