<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-xl-6">
        <div class="world-web-badge mb-4">WORLD OF WEB</div>
        <h1 class="title mb-4">The ultimate testing platform
          <br />revolves around the web testing cycle</h1>
        <h2 class="subtitle mb-4">Our proprietary software combined with <br />our world-class tools and strategy you need to build, run, and analyze your own tests for success.</h2>
        <ul class="list">
          <li>Web Testing</li>
          <li>Web Performance</li>
          <li>Browser Farm</li>
        </ul>
        <button class="btn schedule-demo-btn">Schedule Demo</button>
      </div>
    </div>
  </div>
</section>

<div class="gradient-bg"></div>
