@import '../../assets/scss/partials/variables';

@media (min-width: 1400px) {
  .container {
    max-width: calc(1400px - 145px);
  }
}

/** model-dialog **/
.modal-header {
  background: $primary;
  padding: 0;
}

.modal-header .modal-title {
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 100%;
  color: $text-1;
}

.modal-header .close {
  opacity: 1;
  font-size: 35px;
  font-weight: 200;
  color: $text-1;
  position: absolute;
  right: 15px;
}

.modal-body {
  padding: 30px;
}
