<!-- Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="getData()">
          <div class="form-group">
            <label>Email address</label>
            <input type="text" class="form-control" [class.is-invalid]="user && user.invalid && user.touched" formControlName="username" name="username" placeholder="user name">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            <span class="invalid-feedback" *ngIf="user && user.invalid && user.touched">Please enter valid email address</span>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [class.is-invalid]="password && password.invalid && password.touched" formControlName="password" name="password" placeholder="Password">
            <span class="invalid-feedback d-block" *ngIf="password && password.invalid && password.touched">Password length must be atleast 5 characters</span>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>

        </form>

        <div class="mt-4">
          <p>This is only to see the form values</p>
          <span>{{loginForm.value | json}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
