<section class="lazy-section">
  <div class="container">
    <div class="get-started">
      <div class="row">
        <div class="col-12 col-lg-8">
          <h2 class="title">Ready to get started? <br />
            Get in touch or create an account.</h2>
          <p>To access a complete platform contact us to design a package specifically for your business.</p>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-lg-end justify-content-center">
          <button class="btn schedule-demo-btn">Schedule Demo</button>
        </div>
      </div>
    </div>
  </div>
</section>
